@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    /*letter-spacing: -0.011em;*/
}

html, body {
    @apply h-full;
}
body {
    @apply bg-gray-100 w-full;
}

img {
    width: 100%;
}

.network-status{
    @apply inline-flex items-center justify-center px-4 py-1 rounded-full;
    @apply text-xs uppercase tracking-wide font-medium ring-2 drop-shadow-sm;
    @apply bg-emerald-200 text-emerald-800 ring-emerald-500;
    @apply transition-all duration-500;
    @apply float-right mt-1;
}
.network-status.offline {
    @apply bg-red-200 text-red-800 ring-red-500;
}

.page-background{
    @apply absolute top-0 bottom-0 left-0 right-0;
    @apply w-full h-full -z-[100];
    background-image: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 0.024) 5.26%, rgba(250, 250, 250, 0.055) 9.79%, rgba(250, 250, 250, 0.098) 13.69%, rgba(250, 250, 250, 0.145) 17.08%, rgba(250, 250, 250, 0.2) 20.04%, rgba(250, 250, 250, 0.267) 22.7%, rgba(250, 250, 250, 0.333) 25.16%, rgba(250, 250, 250, 0.408) 27.51%, rgba(250, 250, 250, 0.486) 29.87%, rgba(250, 250, 250, 0.57) 32.34%, rgba(250, 250, 250, 0.65) 35.02%, rgba(250, 250, 250, 0.737) 38.02%, rgba(250, 250, 250, 0.824) 41.45%, rgba(250, 250, 250, 0.914) 45.41%, rgb(250, 250, 250) 50%), url("https://res.cdn.office.net/officehub/officestartresources/visual_background_m365default_light.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    transform: scale(1);
    filter: blur(1px);
    opacity: 0.6;
}

.wrapper {
    @apply max-w-[85rem] mx-auto px-10;
}